.orders-table {
   th {
      font-weight: 600;
      font-size: 0.95rem;
   }
}
.orders-modal {
   position: absolute;
   top: 50%;
   left: 50%;
   right: auto;
   bottom: auto;
   border: 1px solid rgb(204, 204, 204);
   background: rgb(255, 255, 255);
   overflow: auto;
   border-radius: 4px;
   outline: none;
   box-shadow:
   0px 2px 4px -1px rgba(0, 0, 0, 0.2),
   0px 4px 5px 0px rgba(0, 0, 0, 0.14);
   margin-right: -50%;
   transform: translate(-50%, -50%);
}
@media screen and (max-width: 767px){
   .orders-table{
      padding: 12px 5px;
   th {
      font-weight: 600;
      font-size: 0.65rem;
      padding: 8px 4px;
   }
   td {
      font-size: 0.6rem;
      padding: 8px 4px;
   }
}
}
