.table-head {
   box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
   th {
      font-weight: 600;
      font-size: 0.95rem;
   }
   @media screen and (max-width: 767px) {
      th {
         font-size: 0.7rem;
         padding: 12px 5px;
      }
   }
}
@media screen and (max-width: 767px) {
   .table {
      td {
         font-size: 0.7rem;
         padding: 12px 5px;
      }
   }
   .orders-button {
      padding: 6px 4px !important;
      span {
         font-size: 0.65rem;
      }
   }
}
